# Ignore node_modules folder for both frontend and backend
node_modules
*.env

# Logs
logs
*.log

# Dependency directories
client/node_modules
server/node_modules

# Build folders
client/build
server/build

# OS or Editor files
.DS_Store
*.vscode
.idea
*.swp